.idea/.name
.idea/chercher.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
bin/activate
bin/activate.csh
bin/activate.fish
bin/activate_this.py
bin/easy_install
bin/easy_install-3.5
bin/pip
bin/pip3
bin/pip3.5
bin/python
bin/python3
bin/python3.5
bin/wheel
chercher/bin/activate
chercher/bin/activate.csh
chercher/bin/activate.fish
chercher/bin/activate_this.py
chercher/bin/django-admin
chercher/bin/django-admin.py
chercher/bin/easy_install
chercher/bin/easy_install-3.5
chercher/bin/pip
chercher/bin/pip3
chercher/bin/pip3.5
chercher/bin/python
chercher/bin/python3
chercher/bin/python3.5
chercher/bin/wheel
chercher/include/python3.5m
chercher/pip-selfcheck.json
include/python3.5m




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot


# Sphinx documentation
docs/_build/

# PyBuilder
target/

.idea/*
# Django stuff:
*.log
lingualsearch/local_settings.py
lingualsearch/__pycache__/

